@use "../../scss/" as *;

.percent {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px 15px;

  & > * {
    background-color: #fff;
    border-radius: 50%;
  }
}

.score {
  position: absolute;
  color: $white;
  z-index: 2;
  margin-right: 1px;
  color: #000;
  font-weight: 700;
  padding: 20px;

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
