@use "../../scss/" as *;


.credit-card-bg {
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 125%;
    margin-bottom: 1rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $black;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover::before {
            opacity: 0.5;
        }

        &:hover .btn {
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

.credit-info {
    border-bottom: 1px solid rgb(83, 82, 82);
    background-image: linear-gradient(to top, #252424, rgba(19, 13, 13, 0.075));

    &__name {
        @include mobile {
            font-size: 1.5rem;
        }
    }
    

    &__character {
        color: $txt-color;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        height: 5rem;
        
        @include mobile {
            font-size: 1.25rem;
        }
    }
}

