@use "../../scss/"as *;

.banner {
    height: 60vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
    }
}

.movie-content {
    @include flex(flex-start, flex-start);
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    position: relative;
    padding: 0 2rem;

    &__poster {
        flex: 1;

        @include mobile {
            display: none;
        }

        &__img {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: $border-radius;
            padding-top: 165%;
        }
    }

    &__info {
        width: 70%;
        padding-left: 2rem;
        position: relative;

        @include mobile {
            width: 100%;
            padding-left: 0;
        }

        &>* {
            margin-bottom: 2rem;
        }

        .title {
            font-size: 4rem;
            line-height: 1;
        }

        .genres {
            &>*~* {
                margin-left: 0.5rem;
            }

            &__item {
                padding: 0.5rem 1.5rem;
                border: 2px solid $white;
                border-radius: $border-radius;
                font-size: 0.8rem;
                font-weight: 600;
                background-color: $body-bg;
                cursor: pointer;
            
            
                &:hover {
                    border: 3px solid $main-color;
                }
            }
        }
    }
}


.video {
    margin-bottom: 3rem;

    &__title {
        margin-bottom: 1.5rem;
    }
}

.swiper-slide {
    width: 20%;

    @include tablet {
        width: 30%;
    }

    @include mobile {
        width: 40%;
    }
}


.release-year {
    display: inline-block;
    margin-left: 0.5rem;
}

.tagline {
    border-left: 3px solid $main-color;
    padding-left: 1rem;
    margin: 1rem 0px;
    font-size: 1.3em;
    font-weight: 400;
    font-style: italic;
    color: $main-color;
    font-family: Changa, sans-serif;
}


.dot {
    padding-left: 1.75rem;
    position: relative;
    top: 0;
    left: 0;

    &::before {
        font-size: 1.5em;
        line-height: 1;
        content: '\2022';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 7px;
        display: inline-flex;
        align-content: center;
        align-items: center;
    }
}